body {
  background-color: #032f26;
  padding: 20px; /*pad edges of content*/
  color: white; /*default font white*/
  text-align: left;  /*center content*/
}

h1 {
  color: #e7b5ac; /*heading color*/
}
h2 {
  color: white; /*sub heading color*/
}


/*BUTTON STYLING*/
button {
  box-shadow:inset 0px 1px 0px 0px #e7b5ac;
	background-color: #f9e0db;
	border-radius:5px;
	cursor:pointer;
	color:white;
	font-size:16px;
  padding: 10px;
	text-decoration: none;
	text-shadow:0px 1px 5px  #e7b5ac;
  text-align: center;
}

/*TABLE STYLING*/
table {
  color: #e7b5ac; /*table font color*/
  background-color: white; /*table background color*/
  width: 500px;
  text-align: center;
  align-content: center;
  align-self: center;
}

td {
  border: 1px solid #ddd; /*table border color*/
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2; /*every other table row is a lighter gray - makes it easier to read*/
}
