body {
  background-color: #032f26;
  padding: 20px; /*pad edges of content*/
  color: white; /*default font white*/
  text-align: center;  /*center content*/
}

h1 {
  color: #e7b5ac; /*heading color*/
}
h2 {
  color: #d0bcb3;
}


/*BUTTON STYLING*/
button {
  box-shadow:inset 0px 1px 0px 0px #e7b5ac;
	background-color: #f9e0db;
	border-radius:5px;
	cursor:pointer;
	color:white;
	font-size:16px;
  padding: 10px;
	text-decoration: none;
	text-shadow:0px 1px 5px  #e7b5ac;
  text-align: center;
}

table {
  color: #e7b5ac;
  background-color: white;
  width: 500px;
  height: 300px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
